@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vollkorn';
    src: url('~assets/fonts/Vollkorn-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vollkorn';
    src: url('~assets/fonts/Vollkorn-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('~assets/fonts/Ubuntu-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('~assets/fonts/Ubuntu-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  h1 {
    @apply text-6xl;
    @apply font-secondary;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-secondary;
    @apply font-bold;
  }
  p {
    @apply font-primary;
  }
}
