@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lato';
    src: url('~assets/fonts/Lato-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vollkorn';
    src: url('~assets/fonts/Vollkorn-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Vollkorn';
    src: url('~assets/fonts/Vollkorn-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('~assets/fonts/Ubuntu-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Ubuntu';
    src: url('~assets/fonts/Ubuntu-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  body {
    @apply font-primary;
    @apply text-base;
    @apply lg:text-lg;
    @apply text-gray-700;
  }
  h1, h2, h3, h4, h5 {
    @apply font-secondary;
    @apply font-bold;
  }
  h1 {
    @apply text-3xl;
    @apply lg:text-5xl;
  }
  h2 {
    @apply text-2xl;
    @apply lg:text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  .nuxt-content-highlight {
    @apply relative;
  }
  .nuxt-content-highlight .filename {
    @apply absolute right-0 z-10 mt-1 mr-2 text-sm font-light text-gray-600;
  }
}
